{% extends 'base.html' %}

{% load crispy_forms_filters static %}

{% block extra_head %}
  <!-- DatePicker -->
  <link rel="stylesheet" href="{% static 'vendor/datepicker-1.0.3/datepicker.min.css' %}">
  <script src="{% static 'vendor/datepicker-1.0.3/datepicker.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>Fengyuan Chen's DatePicker</h2>

  <form method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Create event</button>
  </form>
{% endblock %}
